spring:
  application:
    name: CurrencyApi

  # Database connection
  r2dbc:
    url: r2dbc:mysql://localhost:3306/test
    username: root
    password: yamaha

  #DB migration
  liquibase:
    url: jdbc:mysql://localhost:3306/test
    user: root
    password: yamaha
    enabled: on
    change-log: classpath:/db/changelog/db.changelog-master.yaml

  # Server port
server:
  port: 8081

  # Mock properties for external API
mock:
  crypto-api:
    endpoint: crypto-currency-rates
  fiat-api:
    endpoint: fiat-currency-rates
  api:
    base-url: http://localhost:8080
    secret-key: secret-key
    timeout: 5000

  # Resilience4j configuration
resilience4j:
  circuitbreaker:
    instances:
      fiatRatesClient:
        sliding-window-size: 10
        failure-rate-threshold: 50
        wait-duration-in-open-state: 10000
      cryptoRatesClient:
        sliding-window-size: 10
        failure-rate-threshold: 50
        wait-duration-in-open-state: 10000

  retry:
    instances:
      fiatRatesClient:
        max-attempts: 3
        wait-duration: 1000
      cryptoRatesClient:
        max-attempts: 3
        wait-duration: 1000